

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.header-img{
	background: url('https://hjbxjw.bn1303.livefilestore.com/y2pxclj683ndgi-Ugs5JcJBWS0oHBVMdWXxEP6u7JYj9LjxpivNcGii53n1cHV14uYaHiWoqnIszsNfPSHYUvbhFT-5EprcFbznELKxAjnk3U4/landscape.jpg?psid=1') fixed no-repeat center;
}

.header-img > h2, .header-img > p{
	margin: 0;
	text-align: center;
}
@media screen and (max-width: 768px){
	.header-img{
		display: none;
	}
}

.about-title{
	text-align: center;
}
.about-character{
	text-align: center
}